<!DOCTYPE html>
<!-- This egg.ejs - it is a template and should be copied to a new egg01, 02, etc... -->
<html>
<head>
	
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
	
<title>Egg - HTML</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/egg.css" /> 
  
<script src="/egg.js"></script> -->

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>

<style>
	html,body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

#wholeBody {
  position: fixed;
  /* height: 200px; */
  /*width:  50px; */
  border: 1px solid green;	
}	

</style>

</head>

<body>
<!-- =============================================================================================== -->	
<!--   Body Here                                                                                     -->
<!-- =============================================================================================== -->

<!-- oooooooooooooooooooooooooooooooooooooo DONT TOUCH oooooooooooooooooooooooooooooooooooooooo -->
<!-- -->  <div hidden class="container">
<!-- -->  <ul>
<!-- -->  <li id="dbresults0"><%= results[0].board_image %></li>
<!-- -->  <li id="dbresults1"><%= JSON.stringify(results[0].board_status) %></li>
<!-- -->  </ul>
<!-- -->  </div> <!-- </div> hidden class="container"> -->
<!-- oooooooooooooooooooooooooooooooooooooo DONT TOUCH oooooooooooooooooooooooooooooooooooooooo -->

<div id="wholeBody">
	
<h1 id="egg1">This is a new egg</h1>

<p>This is a paragraph.</p>

<div><button onclick="dbread()"></Async DB Read></div>


<img src="bb0.gif" alt="" name="a1"  onclick="pickup(this.name)">

</div> <!-- id="wholeBody"> -->

<script>
// =================================================================================================

$(document).ready(function(){
  $("button").click(function(){
    $("p").slideToggle();
  });
  alert('doument ready');
});

function pickup() {
  alert('pickup called');	
  console.log('pickup called')
}	

function dbread() {
var data = {row_id: row_id}
$.ajax({
    type: "POST",
    url:  "('https://still-shelf-78251.herokuapp.com/dbread",
    dataType : "json",
    contentType: "application/json; charset=utf-8",
    data : JSON.stringify(data),
    success : function(result) {
        alert(result.success); // result is an object which is created from the returned JSON
    },
});
}
</script>

</body>

</html> 
	
