<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="jslib.js"></script>
<script src="gamelib.js"></script>
<html>
<head>
</head>

<body>
<p>secret-shore-85438 index.ejsfile name:</p>
<p>file name: index.ejs</p>
<p>Placeholder</p>
<button onclick="ping_other()">Ping Other</button>
</body>
</html>
